body {
    font-family: 'jost','helvetica','sans-serif';
}

.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.red {
    color: red;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 20%;
    background: black;
    opacity: .7;
}

.hero-hed {
    padding-top: 10px;
    margin: 0 auto;
    font-size: 6em;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    color: rgb(255, 191, 72);
}

.hero-sub {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: rgb(255, 191, 72);
}


.headline {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

.byline {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

.chapter {
    text-align: left;
    margin-top: 30px;
    font-size: 45px;
    color: rgb(255, 166, 0);
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 30px;
}

p {
    font-family: 'Karla', sans-serif;
    line-height: 180%;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;
}

.caption {
    text-align: center;
    padding-bottom: 20px;
}

.quote {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 3em;
    font-weight: 600;
    text-align: left;
    padding: 15px 0px 15px 0px;
    border-top: 3px dashed rgb(255, 191, 72);
    border-bottom: 3px dashed rgb(255, 191, 72);
    margin-top: 20px;
    margin-bottom: 20px;
}

.attribution {
    font-size: .5em;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}

.fancy-box {
    border: 5px dotted red;
}

.box-title {
    font-size: 2em;
    background: rgb(255, 191, 72);
    text-align: center;
    font-family:'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.box-middle {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
}

.box-list {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
}

.box-bottom {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
}

.reporters {
    font-style: italic;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 30px;
}

@media (max-width: 900px) {
    .hero-hed {
        font-size: 3em;
    }

    .hero-sub {
        font-size: 1em;
    }
}