.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.red {
    color: red;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 20%;
    background: black;
    opacity: .7;
}

.hero-hed {
    padding-top: 10px;
    margin: 0 auto;
    font-size: 6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    color: white;
}

.hero-sub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}


.headline {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.byline {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.chapter {
    text-align: left;
    margin-top: 30px;
    font-size: 45px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
}

p {
    font-family: Georgia, serif;
    line-height: 180%;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;
}

.caption {
    text-align: center;
    padding-bottom: 20px;
}

.quote {
    font-family: 'jost','helvetica','sans-serif';
    color: maroon;
    font-size: 3em;
    font-weight: 600;
    text-align: left;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.attribution {
    font-size: .5em;
    font-weight: 400;
    font-family: 'jost','helvetica','sans-serif';
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 30px;
}

@media (max-width: 900px) {
    .hero-hed {
        font-size: 3em;
    }

    .hero-sub {
        font-size: 1em;
    }
}