/* styles for my resume*/

/* paragraph text*/
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444; 
    font-weight: 400;
}

/* Name */
h1 {
    font-size: 3.5em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
}

/* Job Title Journalist */
strong {
    text-transform: uppercase;
    font-size: 2em;
    color: #33485e;
}

/* Categories */
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    font-weight: 400;
    color: white; 
}

/* Job Title within Experience */
h3 {
    font-size: 2em;
    font-weight: 600;
}

/* Organization */
h4 {
    font-weight: 400;
    font-size: 1.5em;
}

/* Dates of Job */
h5 {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
}