.headline {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.byline {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.chapter {
    text-align: left;
    margin-top: 30px;
    font-size: 45px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 30px;
}

p {
    font-family: Georgia, serif;
    line-height: 180%;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;
}

.caption {
    text-align: center;
    padding-bottom: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 30px;
}